<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>项目管理系统</title>
</head>


<frameset id="all" rows="10%,90%,*" border="0.5">
    <frame  src="project_management/smarty_header.php" id="top" name="top" noresize="noresize">
    <frameset id="work_field" cols="15%,*" border="0.5">
        <frame  src="project_management/smarty_project_list.php" id="leftmenu" name="leftmenu" noresize="noresize">
		<frame  src="project_management/smarty_main.php" id="main" name="main" noresize="noresize">
    </frameset>

</frameset>


</html>
