<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <style type="text/css">
      .pgbutton {
        color: #000000;
        font-size: 16px;
        background-color: #C0C0C0;
        padding: 10px 15px;
        border: none;
        text-align: center;
      }
    </style>
    <button type="button" class="pgbutton" onclick=window.parent.window.location.href="./manage_group.html">小组管理</button>
    <button type="button" class="pgbutton" onclick=window.parent.window.location.href="./manage_personnel.html">人员管理</button>
  </body>
</html>
