html,body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: arial;
	text-align: center;
}

body,div,dl,dt,dd,ul,ol,h1,h2,h3,h4,h5,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,b,span,em {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue',Helvetica,STHeiti,'Microsoft YaHei',Arial,Verdana,sans-serif
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
}

a {

	text-decoration: none;
	outline: 0;
	cursor: pointer
}



.center {
	width: 100%;
	position: absolute;
	/* top: 50%; */
	/* margin-top: -250px; */
	/* margin-top: -200px\10; */
	left: 30%;
	margin-left: -570px
}

.title {
	width: 386px;
	margin: 0 auto
}

.title h1 {
	width: 386px;
	height: 39px
}

.title p {
	text-align: center;
	font-size: 14px;

	margin-top: 10px
}

.service {
	width: 90%;
	height: 800px;
	margin: 5px auto 0;
	background: url("../images/line_5fec257.png"/*tpa=/images/line_5fec257.png*/) no-repeat top center;
	background-size: 80% 53px;
	position: relative;
	top: 80px;
	/* overflow:scroll; */
}

.servicelist {
	
	height: 104px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -800px;
	/* margin-left: -480px; */
	display: inline-block;
    text-align: center;
    vertical-align: top;
	
	width:100%;
	display: inline;
	white-space: nowrap;
	
}

.servicelist p {
	width: 10px;
	font-size: 14px;

	text-align: left;
	left: 10%;
	margin-left: -160px;
	
	
}
.servicelist {
	/* float: left; */
	/* display:inline-block; */
	/* margin-left: 15px; */
	/* margin-top: -15px; */
    /* width: auto; */
    /* white-space: nowrap; */
	
	/* float:left; */
	/* width:auto; */
	/* margin:3px 5px; */
	/* vertical-align:top; */
	/* text-align:left; */
	
	display:inline-block;
	width:auto;
	margin:3px 5px;
	vertical-align:top;
	text-align:left;
   
	*display:inline;  
	zoom:1; 
	
}

.servicelist {
	margin-right: 0
}
.servicelist div p ul {
	margin-right: 0
}



.Icobox {
	width: 70px;
	height: 70px
}

.serviceIco {
	width: 104px;
	height: 104px;
	text-align: center;
	left: 5%;
	margin-left: -260%;
	/* 设置文字居中 */
	word-wrap:break-word;
	/*letter-spacing:-1px;*/
	/* 文字是否在图片中间 */
	margin:25 auto;
	padding:25px 0;
	
	
}

.serviceIco1 {
	/* text-align: center; */
	background: url("../images/service1_be44146.png"/*tpa=/images/service1_be44146.png*/) no-repeat;background-size:70px 70px
}

.serviceIco2 {
	background: url("../images/service2_3e5b645.png"/*tpa=/images/service2_3e5b645.png*/) no-repeat ;background-size:70px 70px
}

.serviceIco3 {
	background: url("../images/service3_d7d7804.png"/*tpa=/images/service3_d7d7804.png*/) no-repeat;background-size:70px 70px
}

.serviceIco4 {
	background: url("../images/service4_e93f973.png"/*tpa=/images/service4_e93f973.png*/) no-repeat;background-size:70px 70px
}

.serviceIco5 {
	background: url("../images/service5_9e6e218.png"/*tpa=/images/service5_9e6e218.png*/) no-repeat;background-size:70px 70px
}

.serviceIco6 {
	background: url("../images/service6_c1551ec.png"/*tpa=/images/service6_c1551ec.png*/) no-repeat;background-size:70px 70px
}

.serviceIco7 {
	background: url("../images/service7_1787dc3.png"/*tpa=/images/service7_1787dc3.png*/) no-repeat;background-size:70px 70px
}

/*img{
    width:3%;
	position: absolute;   /* 使用绝对定位或固定定位  */
	z-index: 2;
    vertical-align:middle;
}*/


#popDiv { 
	position: absolute;   /* 使用绝对定位或固定定位  */
	z-index: 3;
	visibility: hidden; 
	overflow: hidden; 
	border: 2px solid #AEBBCA; 
	background-color: #EEF1F8; 
	cursor: move; 
	padding: 1px;
	
} 

#popTitle { 
	background: #9DACBF; 
	height: 20px; 
	line-height: 20px; 
	padding: 1px; 
} 

#popForm { 
	padding: 2px; 
} 

.title_left { 
	font-weight: bold; 
	padding-left: 5px; 
	float: left; 
} 

.title_right { 
	float: right; 
} 

#popTitle .title_right a { 
	color: #000; 
	text-decoration: none; 
} 

#popTitle .title_right a:hover { 
	text-decoration: underline; 
	color: #FF0000; 
}

#side_nav ul{display:none}

.taskul {
	/* width: auto; */
	/* height: auto; */
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.taskspan {
	text-align: center;
	white-space:nowrap;
	/* color:#98FB98; */

	
}
.taskcuspan {
	text-align: center;
	white-space:nowrap;
	/* color:#4BD1CC; */

	
}

.taskcuspantite {
	text-align: left;
	white-space:nowrap;
	color:#000000; 
	font-weight:bold
	
}

.taskspantite {
	text-align: left;
	white-space:nowrap;
	color:#C0C0C0;
	font-weight:bold
	
}