/*任务展示*/
.show_con{
	padding-bottom: 0;
}
.show_top{
	display: block;
	width: 100%;
	margin: 50px auto;
}
.cleafix:after{clear:both;content:"\200B";display:block;height:0;}
.cleafix{
	*zoom:1;
	width: 80%;
	left: 10%;
	margin-left: 100px;
}
ul, ol{list-style: none;}
.show_top a{
	display: inline-block;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: auto;
	border: 1px solid #f24649;
	border-radius: 50px;
	font-size: 14px;
	color: #f24649;
	margin-right: 32px;
}
.show_top a.cur{
	background: #f24649;
	color: #fff;
}
.show_bot{
	width: 80%;
	margin: 0px auto;
	height: auto;
	overflow: hidden;
	text-align: center;
	position: relative;
	/* left: 10%; */
}
.show_bot1{
	margin-top: 50px;
}
.show_bot li{
	width:auto;
	float: left;
	height: 6px;
	background: #fff;
	margin-right:2.7786%;
	margin-bottom: 30px;
	clear:both;
	
}
.show_bot li a{
	display: block;
	width: auto;
	overflow: hidden;
}
.show_bot li a i{
	display: block;
	height: auto;
	overflow: hidden;
}
.show_bot li img{
	display: block;
	width: auto;
	float: left;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
.show_bot li:hover img,
.show_bot li.hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2)
}
.show_bot li p{
	float: left;
	display: block;
	width: auto;
	height:auto;
	line-height:auto;
	font-size: 16px;
	color: #505050;
	font-weight: bold;
	background: #f9f9f9;
	text-align: left;
	text-indent: 10px;
	margin-top: 0;
	font-size: 14px;
	word-wrap:break-word;
	word-break:normal;
	text-align:center;
}
.show_bot li p:hover{
	font-size: 18px; 
}
.show_bot li p em{
	display: inline-block;
	float: right;
	margin-right:15px;
	width: 24px;
	height: auto;
	margin-top: 16px;
	transition: all 0.3s ease;
	background: url(../images/z_sb_icon.png) no-repeat 0 0;
	*position: relative;
	*top: -63px;
}
.show_bot li a:hover p{
	background: #46f249;
	color: #fff;
}
.show_bot li a:hover em{
	background: url(../images/z_sb_icon.png) no-repeat 0 -34px;
}


