<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
	<style type="text/css">
    table {
		background-color: #FFF;
		border: none;
		color: #565;
		font: 12px arial;
		margin:0 auto; 
        border-collapse:collapse;
	}

	table caption {
		font-size: 24px;
		border-bottom: 2px solid #B3DE94;
		border-top: 2px solid #B3DE94;
	}

	table, td, th {
		margin: 0;
		padding: 0;
		vertical-align: middle;
		text-align:left;
		
	}
	

	table tr {
		line-height: 25px;
		border:1px solid #ccc;
	}

	table td {
		border:0px solid #ccc;
		text-align:center;
	}
	.MHover{
		border:0px solid #ccc;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		word-wrap: break-word;
		word-break: break-all;
	
		
	}
	
	tbody td, tbody th {
		background-color: #fff;/*行背景颜色*/
		border-bottom: 2px solid #fff;/*行下面背景颜色*/
		border-top: 3px solid #FFFFFF;
		padding: 9px;
	}


	tfoot td, tfoot th {
		font-weight: bold;
		padding: 4px 8px 6px 9px;
		text-align:center;
	}

	thead th {
		font-size: 12px;
		font-weight: bold;
		line-height: 19px;
		padding: 0 8px 2px;
		text-align:center;
	}

	tbody tr.odd th,tbody tr.odd td { /*odd就是偶数行*/
		background-color: #CEA;
		border-bottom: 2px solid #67BD2A;
	}

	td+td+td, /*第三个td以及之后的td元素*/
	col.price{ /*类样式*/
		text-align:right;
	}

	tbody tr:hover td, tbody tr:hover th { /*tr也有hover样式*/
		background-color: #CEA;/*选中行背景颜色*/
		color:#000;/*字体颜色*/
	}
	
	<!-- thead { -->
        <!-- background:#CCCCCC; -->
        <!-- display:block; -->
    <!-- } -->
	<!-- tbody { -->
        <!-- height:650px;/*控制表哥显示列行数*/ -->
        <!-- overflow-y:scroll; -->
        <!-- display:block; -->
    <!-- } -->
	.table-wrapper {
		width:100%;
		max-height:700px;
		<!-- display: none; -->
		<!-- overflow-x: hidden; /*x轴禁止滚动*/ -->
		<!-- overflow-y: hidden; /*y轴禁止滚动*/ -->
	}/*max-height控制表格外层显示列行数，滚动条显示 max-height:50%;隐藏滚动条*/
	.table-wrapper table {
	   table-layout: fixed;width: 100%;text-align: left;font-size: 12px;border: 1px solid pink;
	}           
	.table-wrapper table tbody{
	   display: inline-block;width: 100%;overflow: auto;max-height:700px;}/*max-height控制表格显示列行数，滚动条显示 max-height:30%;*/
	}
	.table-wrapper table tr{
		display: inline-block;width: 99%;border-bottom: 1px solid #ddd;height: 40px;line-height: 25px;/*ddd;height控制表高度 height: 50px;line-height: 25px;*/
	}
	.table-wrapper table td, .table-wrapper table th {
		display: inline-block;overflow:hidden;text-overflow:ellipsis;/*width:150px控制表每个单元格宽度一样*/
	}
	<!-- .table-wrapper table td:nth-child(1), .table-wrapper table th:nth-child(1) { -->
		<!-- width: 30px; -->
	<!-- }   -->
	.colorGreen{
		color: green;
	}
	.colorRed{
		color: red; 
	}
	.colorOrange{
		color: orange;
	}
	.colorBlue{
		color: blue;
	}
	.colorIndigo{
		color: indigo;
	}
	
	</style>
    <script type="text/javascript" src="js/pagination.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".MALL").hide();
			$(".MHover").mouseover(function (e) {
				$(this).next(".MALL").css({"position":"absolute","top":e.pageY-25,"left":e.pageX-25}).show();
			});
			$(".MHover").mousemove(function (e) {
				$(this).next(".MALL").css({ "color": "faf", "position": "absolute", "opacity": "1", "background-color": "aa6", "top": e.pageY - 25, "left": e.pageX - 25 });
			});
			$(".MHover").mouseout(function () {
				$(this).next(".MALL").hide();
			});
		});
		
	</script>
    <script type="text/javascript">
        //全局变量
        var numCount;       //数据总数量
        var columnsCounts;  //数据列数量
        var pageCount;      //每页显示的数量
        var pageNum;        //总页数
        var currPageNum ;   //当前页数

        //页面标签变量
        var blockTable;
        var preSpan;
        var firstSpan;
        var nextSpan;
        var lastSpan;
        var pageNumSpan;
		var totalcase;
        var currPageSpan;

		
        window.onload=function(){
            //页面标签变量
            blockTable = document.getElementById("blocks");
            preSpan = document.getElementById("spanPre");
            firstSpan = document.getElementById("spanFirst");
            nextSpan = document.getElementById("spanNext");
            lastSpan = document.getElementById("spanLast");
            pageNumSpan = document.getElementById("spanTotalPage");
			totalcase = document.getElementById("spanTotalcase");
            currPageSpan = document.getElementById("spanPageNum");
			
			

            numCount = document.getElementById("blocks").rows.length - 1;       //取table的行数作为数据总数量（减去标题行1）
            
			
			
			var stre = document.cookie;
			var pageCountobj=stre.match(/pageCount=\d+/);
			
			//console.log(pageCountobj);
			if(typeof pageCountobj == "undefined" || pageCountobj == null || pageCountobj == ""){
				//console.log(1111);
				pageCount = 15;
			}else{
				var pagestr=JSON.stringify(pageCountobj);
				//console.log(2222);
				pageCount = pagestr.match(/\d+/);
			}
			//console.log(pageCount);
			
            columnsCounts = blockTable.rows[0].cells.length;
            
            pageNum = parseInt(numCount/pageCount);
			//console.log(pageNum);
            if(0 != numCount%pageCount){
                pageNum += 1;
            }
			//console.log(pageNum);
            <!-- firstPage(); -->
			//console.log(pageCount);
			nextPage();
			localStorage.setItem('onload', "yes");
			
        };
		
		function paging(){
			event.stopPropagation();
			//console.log(pageCount);
			
			pageCount = $('input#paging_value').val();
			//console.log(pageCount);
			
			document.cookie="pageCount="+pageCount; 
			
			location.reload();
		}
		
		function showall(){
			event.stopPropagation();
			var numb=document.getElementById("blocks").rows.length - 1;
			//console.log(numb);
			document.cookie="pageCount="+numb; 
			
			location.reload();
		}
		function chk(){
            var all = document.getElementById("all");
            var mychk = document.getElementsByName("mychk");
            <!-- alert("mychk长度=="+mychk.length); -->
            if(all.checked==true){
                <!-- alert("all.checked==true全选"); -->
                if(mychk.length){
                    for(var i=0;i<mychk.length;i++){
                        mychk[i].checked = true;
                    }
                
                }
                mychk.chcked=true;
            }else{
                <!-- alert("all.checked==false全不选"); -->
                if(mychk.length){
                    for(var i=0;i<mychk.length;i++){
                        mychk[i].checked = false;
                    }
                
                }
            }
            
        }  
		
		function chkpass(){
            var chkpass = document.getElementById("chkpass");
            var count = document.getElementById("blocks").rows.length;
			var mypas = document.getElementById("blocks");
            if(chkpass.checked==true){
               
				for(var i=1;i<count;i++){
					
					// 第二种：用获取Table（通过其id），指定获取的行、列
					var  valueTd = mypas.rows[i].cells[4].children[0].innerHTML;
					<!-- console.log(mypas.rows[i].cells[4].children[0]);  -->
					<!-- console.log(valueTd);  -->
					if(valueTd=='pass') {
						mypas.rows[i].cells[0].children[1].checked = true;
					}
					
					
				}
                
                
               
            }else{
               
				for(var i=1;i<count;i++){
				
					// 第二种：用获取Table（通过其id），指定获取的行、列
					var  valueTd = mypas.rows[i].cells[4].children[0].innerHTML;
					if(valueTd=='pass') {
						mypas.rows[i].cells[0].children[1].checked = false;
					}
					
					
				}
            }
            
        } 
		function chkfail(){
            var chkfail = document.getElementById("chkfail");
            var count = document.getElementById("blocks").rows.length;
			var mypas = document.getElementById("blocks");
            if(chkfail.checked==true){
               
				for(var i=1;i<count;i++){
					
					// 第二种：用获取Table（通过其id），指定获取的行、列
					var  valueTd = mypas.rows[i].cells[4].children[0].innerHTML;
					<!-- console.log(mypas.rows[i].cells[4].children[0]);  -->
					<!-- console.log(valueTd);  -->
					if(valueTd=='fail') {
						mypas.rows[i].cells[0].children[1].checked = true;
					}
					
					
				}
                
                
               
            }else{
               
				for(var i=1;i<count;i++){
				
					// 第二种：用获取Table（通过其id），指定获取的行、列
					var  valueTd = mypas.rows[i].cells[4].children[0].innerHTML;
					if(valueTd=='fail') {
						mypas.rows[i].cells[0].children[1].checked = false;
					}
					
					
				}
            }
            
        }   
    </script>
</head>
<body >
<div class="table-wrapper">
    <table id="blocks" class="table table-bordered table-striped" style="margin-top:25px">
        <thead >
				
				<th width="6%" style="text-align:center;" onclick="sortAble(this,'blocks', 0,'int')"><input type="checkbox" id="all" name="all" align="center" onclick="chk()" >用例编号</th>
				<th width="30%" style="text-align:center;">用例名称</th>
				<th width="9%" style="text-align:center;" onclick="sortAble(this,'blocks', 2,'date')">开始测试时间</th>
				
				<th width="9%" style="text-align:center;" onclick="sortAble(this,'blocks', 3,'date')">结束测试时间</th>
				<!-- <th  style="text-align:center;">测试结果</th> -->
				<th width="4%" style="text-align:center;" onclick="sortAble(this,'blocks', 4,'string')">测试结果</th>
				<th width="3%" style="text-align:right;"><div><label><input type="checkbox" id="chkpass" name="chkpass" align="center"  onclick="chkpass()" >pass</label></div><div><label><input type="checkbox" id="chkfail" name="chkfail" align="center"  onclick="chkfail()">faill</label></div></th>
				<th width="5%" style="text-align:center;" >测试日志</th>
				<!-- <th align="center">报告详情</th> -->
				<th width="6%" style="text-align:center;" >操作</th>
				<th width="5%" style="text-align:center;" onclick="sortAble(this,'blocks', 8,'string')">测试工具</th>
				<th width="10%" style="text-align:center;">备注</th>
			
        </thead>
		<tbody >
			<input type="hidden" name="prefix" id="prefix" value={{prefix}} />
			<!-- 这个 each注释不能删，不知道为什么 -->
			<!-- {{each mainlist as item i}} -->
			<tr id="casetr">
				
				<th style="text-align:center;" width="6%">{{i+1}}&nbsp;&nbsp;<img src="images/reexecution.jpg" style="CURSOR: hand" align="center" width="10%" onclick='updaterecords({{item.Case_numbe}});'><input type="checkbox" id="mychk" name="mychk" align="center"  value={{item.Case_numbe}} >{{item.Case_numbe}}</th>				
				<th  style="text-align:left;" width="30%" >
					<div class="MHover" style="word-wrap:break-word;word-break:break-all;padding-left: 5px;">{{item.Case_name}}</div>
					<div class="MALL">{{item.Case_name}}</div>
				</th>
				<th  style="text-align:center;" width="9%" height="25px">
					{{item.startime}}
				</th>
				<th  style="text-align:center;" width="9%" height="25px">
					{{item.endtime}}
				</th>
				<th style="text-align:center;" width="7%">
					{{if item.Test_result=="P"}}  
						<span class="colorGreen">pass</span>
					{{else if item.Test_result=="p"}}  
						<span class="colorGreen">pass</span>
					{{else if item.Test_result=="f"}}  
						<span class="colorRed">fail</span>
					{{else if item.Test_result=="F"}}  
						<span class="colorRed">fail</span>
					{{else}}  
						<span class="colorOrange">not run</span> 
					{{/if}}
				</th>
				
				<th style="text-align:center;" width="5%">
					<a href="{{item.log}}&title={{item.Case_name}}" target="_blank">详情</a>
				</th>
				<th style="text-align:center;" width="6%" >
					{{if item.Test_result=="P"}}  
						<img id={{item.Case_numbe}} src="images/pass.gif" align="center" width="16%" >
						<span id='span{{item.Case_numbe}}' class="colorBlue">已执行</span> 
					{{else if item.Test_result=="p"}}  
						<img id={{item.Case_numbe}} src="images/pass.gif" align="center" width="16%" >
						<span id='span{{item.Case_numbe}}' class="colorBlue">已执行</span> 
					{{else if item.Test_result=="f"}}  
						<img id={{item.Case_numbe}} src="images/faill.gif" align="center" width="16%" >
						<span id='span{{item.Case_numbe}}' class="colorBlue">已执行</span>
					{{else if item.Test_result=="F"}}  
						<img id={{item.Case_numbe}} src="images/faill.gif" align="center" width="16%" >
						<span id='span{{item.Case_numbe}}' class="colorBlue">已执行</span>
					{{else}}  
						<img id={{item.Case_numbe}} src="images/notrun.gif" align="center" width="16%" >
						<span id='span{{item.Case_numbe}}' class="colorOrange">未执行</span>
					{{/if}}
				</th> 
					
					
				<th  style="text-align:center;" width="5%">
					{{item.tooltype}}
				</th>
				<th style="text-align:center;" width="9%" height="25px">
					<div contenteditable="true" id='text{{item.id}}' width="30%" class="placeholder">{{item.notes}}</div>
					<input type="button" value="修改" width="30%" onclick='updatenodes({{item.id}});' />
				</th>
				
				
			</tr>
			<!-- {{/each}} -->
		</tbody>
    </table>

    <div id="pagiDiv" align="right" style="width:1200px">
        <span id="spanFirst">首页</span>&nbsp;&nbsp;
        <span id="spanPre">上一页</span>&nbsp;&nbsp;
        <span id="spanNext">下一页</span>&nbsp;&nbsp;
        <span id="spanLast">尾页</span>&nbsp;&nbsp;第&nbsp;
		<span id="spanPageNum"></span>&nbsp;页/共&nbsp;
		<span id="spanTotalPage"></span>&nbsp;页/共&nbsp;
		<span id="spanTotalcase"></span>&nbsp;条记录&nbsp;
		
		每页<input type="text" id="paging_value" align="left" maxlength="3" size="1" value="15">个
		<span id="paging" onclick="paging()"  style="color:#F00">显示</span>&nbsp;&nbsp;
		
		<span id="showall" onclick="showall()"  style="color:#F00">全部显示</span>&nbsp;
    </div>

</div>
<!-- 引入template文件-用于模版渲染 -->
<script type="text/javascript" src="js/template.js"></script>

<script>
function updatenodes(id){

	var text = document.getElementById('text'+id).innerHTML;
	
	var json=JSON.stringify({"id" : id,"notes" : text});
	
	
	var xhr1 = new XMLHttpRequest;
	xhr1.open('post', 'updatenote.php');
	xhr1.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	xhr1.send(json);

	xhr1.onreadystatechange = function() {
		if(xhr1.readyState == 4 && (xhr1.status == 200 || xhr1.status ==304)) { //响应完成并且响应码为200或304
			var projectid=localStorage.getItem('projectid');
			
			<!-- parent.initialization(projectid); -->
			parent.getcaselist(projectid);
			
		}
	};
	
}

function updaterecords(id){
	//定位id 
	
	var environment = window.parent.document.getElementById("top").contentWindow.document.getElementById("environment").value;
	
	
    if (environment == "" || environment == null || environment == undefined) { // 只能用 === 运算来测试某个值是否是未定义的
        alert("初始化前请选择执行环境");
        return 0
    }
	var objss = JSON.parse(localStorage.getItem('obj'));
	var obj1=objss.environmentalall;
	var obj=obj1[0];
	var table=obj[environment];
	
	var json=JSON.stringify({"id" : id,"table" : table});
	
	var xhr1 = new XMLHttpRequest;
	xhr1.open('post', 'updaterecords.php', false); 
	//2020.3.19, mazhenfeng, 改成同步的，更新用例界面需要时间，如果没更新完成就运行其他程序，会出错
	//比如sentcase.js 模式二运行完成一个用例后，会刷新用例界面，再渲染用例状态（异步的话就找不到对应用例）
	
	xhr1.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	xhr1.send(json);

	xhr1.onreadystatechange = function() {
		if(xhr1.readyState == 4 && (xhr1.status == 200 || xhr1.status ==304)) { //响应完成并且响应码为200或304
			var projectid=localStorage.getItem('projectid');
			parent.getcaselist(projectid);
			<!-- parent.initialization(projectid); -->
			
		}
	};
	elem.style.display = '';
}

	
</script>
<!-- 引入json文件-数据源(就是从数据库查询出来的数据) -->
<script>
	
	var stringData=localStorage.getItem('caseobj');
	<!-- console.log("###################projectobj#################"); -->
	<!-- console.log(stringData); -->
	if(stringData==null) {
		stringData='{"state":"empty"}';
	} else {
	
		if(stringData.search('{"state":"empty"}') != -1) {
			stringData='{"state":"empty"}';
			<!-- var maindate = JSON.parse(stringData); -->
		}
	}
	var flag=false;
	
	
	try {
		
		var maindate = JSON.parse(stringData);
		

	} catch(e) {
		
		
		var regex3 = /\{(.+?\[.+?\])\}/g;
		var ss=stringData.match(regex3);
		//console.log(ss[0]);
		var maindate = JSON.parse(ss[0]);
		
	} finally{
		// 指定template渲染范围
		<!-- console.log(maindate); -->
		if(maindate==undefined) {
			stringData='{"state":"empty"}';
			var maindate = JSON.parse(stringData);
		}
		
		//展示测试用例信息
		var html = template('blocks', maindate);
		document.getElementById('blocks').innerHTML = html;
		
	}
	
	Show_Running_Case();
	
	function Show_Running_Case() {
		/*
		Get the testcase_running information from localStorage, and show on web "执行中"
		*/

	   console.log("刷新主界面");

		if (localStorage.getItem('testcase_running')) {
			//console.log(localStorage.getItem('testcase_running'));
			var caselist_json = localStorage.getItem('testcase_running');
			var caselist = JSON.parse(caselist_json);

			for (var j = 0; j < caselist.length; j++) {
				document.getElementById(caselist[j]).src='images/3.gif';
				document.getElementById('span'+caselist[j]).innerHTML='执行中';
				document.getElementById('span'+caselist[j]).className="colorGreen";
			}
		}
		
		if (localStorage.getItem('testcase_waitting')) {
			var waiting_caselist_json = localStorage.getItem('testcase_waitting');
			var waitting_caselist = JSON.parse(waiting_caselist_json);
			//console.log(waitting_caselist);
			for (var j = 0; j < waitting_caselist.length; j++) {
				document.getElementById(waitting_caselist[j]).src='images/3.gif';
				document.getElementById('span'+waitting_caselist[j]).innerHTML='等待中';
				document.getElementById('span'+waitting_caselist[j]).className="colorIndigo";
			}
		}
		
		if (localStorage.getItem('finish_pass_testcase')) {
			var finish_pass_testcase_json = localStorage.getItem('finish_pass_testcase');
			var finish_pass_testcase = JSON.parse(finish_pass_testcase_json);
			//console.log(finish_pass_testcase);
			for (var j = 0; j < finish_pass_testcase.length; j++) {
				document.getElementById(finish_pass_testcase[j]).src='images/pass.gif';
				document.getElementById('span'+finish_pass_testcase[j]).innerHTML='执行完成';
				document.getElementById('span'+finish_pass_testcase[j]).className="colorIndigo";
			}
		}
		
		if (localStorage.getItem('finish_fail_testcase')) {
			var finish_fail_testcase_json = localStorage.getItem('finish_fail_testcase');
			var finish_fail_testcase = JSON.parse(finish_fail_testcase_json);

			for (var j = 0; j < finish_fail_testcase.length; j++) {
				document.getElementById(finish_fail_testcase[j]).src='images/faill.gif';
				document.getElementById('span'+finish_fail_testcase[j]).innerHTML='执行完成';
				document.getElementById('span'+finish_fail_testcase[j]).className="colorIndigo";
			}
		}
		
		if (localStorage.getItem('finish_stop_testcase')) {
			var finish_stop_testcase_json = localStorage.getItem('finish_stop_testcase');
			var finish_stop_testcase = JSON.parse(finish_stop_testcase_json);
			//console.log(finish_stop_testcase);
			for (var j = 0; j < finish_stop_testcase.length; j++) {
				document.getElementById(finish_stop_testcase[j]).src='images/faill.gif';
				document.getElementById('span'+finish_stop_testcase[j]).innerHTML='已停止';
				document.getElementById('span'+finish_stop_testcase[j]).className="colorRed";
			}
		}
		
	}
	
</script>
<script type="text/javascript">
	//排序 tableId: 表的id,iCol:第几列 ；dataType：iCol对应的列显示数据的数据类型
	function sortAble(th, tableId, iCol, dataType) {

		var ascChar = "▲";
		var descChar = "▼";

		var table = document.getElementById(tableId);

		//排序标题加背景色
		for (var t = 0; t < table.tHead.rows[0].cells.length; t++) {
			var th = $(table.tHead.rows[0].cells[t]);
			var thText = th.html().replace(ascChar, "").replace(descChar, "");
			if (t == iCol) {
				th.css("background-color", "#ccc");
			}
			else {
				th.css("background-color", "#fff");
				th.html(thText);
			}

		}

		var tbody = table.tBodies[0];
		var colRows = tbody.rows;
		var aTrs = new Array;

		//将得到的行放入数组，备用
		for (var i = 0; i < colRows.length; i++) {
			//注：如果要求“分组明细不参与排序”，把下面的注释去掉即可
			//if ($(colRows[i]).attr("group") != undefined) {
				aTrs.push(colRows[i]);
			//}
		}


		//判断上一次排列的列和现在需要排列的是否同一个。
		var thCol = $(table.tHead.rows[0].cells[iCol]);
		if (table.sortCol == iCol) {
			aTrs.reverse();
		} else {
			//如果不是同一列，使用数组的sort方法，传进排序函数
			aTrs.sort(compareEle(iCol, dataType));
		}

		var oFragment = document.createDocumentFragment();
		for (var i = 0; i < aTrs.length; i++) {
			oFragment.appendChild(aTrs[i]);
		}
		tbody.appendChild(oFragment);

		//记录最后一次排序的列索引
		table.sortCol = iCol;

		//给排序标题加“升序、降序” 小图标显示
		var th = $(table.tHead.rows[0].cells[iCol]);
		if (th.html().indexOf(ascChar) == -1 && th.html().indexOf(descChar) == -1) {
			th.html(th.html() + ascChar);
		}
		else if (th.html().indexOf(ascChar) != -1) {
			th.html(th.html().replace(ascChar, descChar));
		}
		else if (th.html().indexOf(descChar) != -1) {
			th.html(th.html().replace(descChar, ascChar));
		}

		//重新整理分组
		var subRows = $("#" + tableId + " tr[parent]");
		for (var t = subRows.length - 1; t >= 0 ; t--) {
			var parent = $("#" + tableId + " tr[group='" + $(subRows[t]).attr("parent") + "']");
			parent.after($(subRows[t]));
		}
	}

	//将列的类型转化成相应的可以排列的数据类型
	function convert(sValue, dataType) {
		switch (dataType) {
			case "int":
				return parseInt(sValue, 10);
			case "float":
				return parseFloat(sValue);
			case "date":
				return new Date(Date.parse(sValue));
			case "string":
			default:
				return sValue.toString();
		}
	}

	//排序函数，iCol表示列索引，dataType表示该列的数据类型
	function compareEle(iCol, dataType) {
		return function (oTR1, oTR2) {

			var vValue1 = convert(removeHtmlTag($(oTR1.cells[iCol]).html()), dataType);
			var vValue2 = convert(removeHtmlTag($(oTR2.cells[iCol]).html()), dataType);
			if (vValue1 < vValue2) {
				return -1;
			}
			else {
				return 1;
			}

		};
	}

	//去掉html标签
	function removeHtmlTag(html) {
		return html.replace(/<[^>]+>/g, "");
	}


	//jQuery加载完以后，分组行高亮背景，分组明细隐藏
	$(document).ready(function () {
		$("tr[group]").css("background-color", "#ff9");
		$("tr[parent]").hide();
	});


	//点击分组行时，切换分组明细的显示/隐藏
	function showSub(a) {
		var groupValue = $(a).parent().parent().attr("group");
		var subDetails = $("tr[parent='" + groupValue + "']");
		subDetails.toggle();
	}


</script>
</body>
</html>